@charset "UTF-8";

body{
    background-color: rgb(60, 60, 250);

}
h1{
    color:rgb(28, 183, 255) ;
}
h2{

    color:rgb(0, 255, 213)   
}
h1#principal{

    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 30px 30px 30px black;
}
.basico{ color: rgb(255, 0, 0); font-weight: bolder;}
.intermediario{color: rgb(0, 255, 102) ; font-weight: bolder;}
.avançado{color: rgb(255, 0, 238); font-weight: bolder;}